$fuenteTitulos: 'Roboto', sans-serif;
$fuenteGeneral: 'IBM Plex Mono', monospace ;
$verde: #00F3BB;
$blanco: #ffffff;
$oscuro: #000000;
$gris: #060A24;
$azul : #0000EC;
$backgroundAzul: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
$verdeHover: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);